astor==0.8.0
cachetools==3.1.1
certifi==2019.9.11
decorator==4.4.0
google-auth==1.6.3
google-auth-oauthlib==0.4.1
grpcio==1.38.0
h5py==2.10.0
idna==2.8
imageio==2.6.1
joblib==0.14.0
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
Markdown==3.1.1
matplotlib==3.1.1
networkx==2.4
numpy==1.17.2
opt-einsum==3.1.0
pandas==0.25.2
Pillow==8.2.0
protobuf==3.10.0
pyasn1==0.4.7
pyasn1-modules==0.2.7
pyparsing==2.4.2
python-dateutil==2.8.0
pytz==2019.3
PyWavelets==1.1.1
PyYAML==5.4
requests==2.22.0
requests-oauthlib==1.2.0
rsa==4.0
scikit-image==0.18.1
six==1.12.0
tensorboard==2.2.0
tensorflow==2.2.0
tensorflow-estimator==2.2.0
termcolor==1.1.0
urllib3==1.25.6
Werkzeug==0.16.0
wincertstore==0.2
wrapt==1.11.2
